<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>OpenInvite</title>
        <link rel = "stylesheet" type = "text/css" href = "static\style.css">
        <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDraL3YowUl__tg7eu8DMI8Sd96GZEX9I&callback=initMap"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css' rel='stylesheet'/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
    </head>
    <body>
        <header>
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="nav">
                            <div class="navbar-header">
                                <a class="navbar-brand" href=""><img src="static\logo.png"  style = "position: relative; top: -7px;" height=200%></a>
                            </div>
                                
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Academic</a></li>
                                        <li><a href="#">Party</a></li>
                                        <li><a href="#">Pickup</a></li>
                                        <li><a href="#">Clubs</a></li>
                                        <li><a href="#">Campus Events</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
        </header>
        <div id = "map"></div>
        <script src = "static\script.js"></script>

        <footer class="page-footer font-small blue-grey lighten-5 mt-4">
            <div class="footer">
                <div class="" align="center">
                    <div class="col-sm-4">
                        <h5 class="text-uppercase font-weight-bold">Open Invite</h5>
                        <hr style="width: 60px;">
                        <p style="color: white;">&copy; OpenInvite Inc </p>
                    </div>
                    <div class="col-sm-4">
                        <p> Here are some activities happening right now! </p>
                        
                    </div>
                    <div class="col-sm-4">
                        <h5 class="text-uppercase font-weight-bold">Source</h5>
                        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <a href="github.com" style="color: white;">Github</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>